.movie_card__container {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #181B1D;
    border-radius: 8px;

    .image {
        width: 8em;
        height: 8em;

        img {
            width: 100%;
            height: 100%;
            border-radius: 8px;
        }
    }    

    .summary {
        display: flex;
        flex-direction: column;
        gap: 5px;
        
        .stars {
            display: flex;
            gap: 2px;
    
            .star__icon {
                color: #FCB000;
                width: 0.85em;
                height: 0.85em;
            }
        }
    
        .info {
            display: flex;
            justify-content: space-between;
            color: #545758;
            font-size: 0.85em;
        }
    }
}