.right_main {
    display: none;
    background-color: #101316;

    @media screen and (min-width: 1280px) {
        flex: 0.3;
		display: block;
        padding: 1rem;

        .title {
            margin-top: 3em;
            margin-bottom: 1em;
            font-size: 1.1em;
        }

        .list {
            display: flex;
            flex-direction: column;
            gap: 1em;
        }
    }
}